svg {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.tooltip {
    background-color: white;
    display: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 100px;
    height: 70px;
    width: 150px;
    z-index: 100;
    text-align: center;
}

.tooltip.show {
    display: flex;
}

.tooltip small {
    margin-bottom: 5px;
}